<section class="footer__newsletter">
  <div class="shout">Like what I write? </div>
  {% include newsletter-subscribe.html %}
  {% include icons-svgs.html %}
</section>

<section>
<div class="shout">Let's work together...</div>
<p>Got an opportunity?<a href="mailto:phil@oxrud.com"/><br />Contact me</a> to discuss your project.</p>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41542552-2', 'auto');
  ga('send', 'pageview');

</script>