<section class="subscribe-box-small">
  <!-- Begin MailChimp Signup Form -->

  <div id="mc_embed_signup">
  <form action="//broadcastencoders.us7.list-manage.com/subscribe/post?u=87d0f7c65b57565cbc5050728&amp;id=8356552428" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Get notified of new blog posts:</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_87d0f7c65b57565cbc5050728_8356552428" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
  </form>

  <!--End mc_embed_signup-->
</section>