---
layout: default
---

<div class="main">
  <article class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
    {{ content }}
  </article>

  <div
    class="my-8 mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
  >
    <section>
      <h2
        class="text-left text-2xl font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
      >
        My Articles and Tutorials
      </h2>
      <ul>
        {% for post in site.posts %}
        <li class="pt-4">
          {% assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" %}
          <time class="text-sm text-zinc-400 dark:text-zinc-500"
            >{{ post.date | date: date_format }}</time
          >
          <p class="text-base tracking-tight text-zinc-800 dark:text-zinc-100">
            <a href="{{ post.url | relative_url }}"
              >{{ post.title | escape }}</a
            >
          </p>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>{% include newsletter-subscribe.html %}</section>
  </div>
</div>
